body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #404040;
  text-align: justify;
}
h1 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
h2 {
  font-family: Montserrat, sans-serif;
  font-size: 19px;
  font-weight: 400;
}
code {
  color: #404040;
  background-color: #F5F5F5;
}
pre {
  color: #404040;
  background-color: #F5F5F5;
}
pre code {
  font-size: 15px;
  color: #404040;
  background-color: #F5F5F5;
}
#navcolhead {
  width: 100%;
  margin: auto;
  font-family: Montserrat, sans-serif;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 0px;
  text-align: center;
}
.nav-pills > li > a {
  border-radius: 0px;
  background-color: #F5F5F5;
  margin: 0px;
}
.nav-stacked > li > a {
  margin-bottom: -2px;
}
#footer {
  background-color: #F5F5F5;
}
